@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
    <h1>My Urls</h1>
@if (User.Identity.IsAuthenticated)
{
<body>
    <ul id="urlList"></ul>
    <script>
        // Get list urls
        function getUrlList() {
            fetch('/api/files/history')
                .then(response => response.json())
                .then(data => {
                    const urlList = document.getElementById('urlList');
                    urlList.innerHTML = '';
                    data.forEach(displayName => {
                        const li = document.createElement('li');
                        const link = document.createElement('a');
                        link.innerText = link.innerText = displayName.substr(displayName.split('_')[0].length + 1);
                        if (link.innerText.length > 15) {
                            link.innerText = link.innerText.substr(0, 14);
                        }
                        const pageId = displayName.split('_')[0];
                        link.href = '/api/files/upload?pageId=' + pageId;
                        li.appendChild(link);
                        //
                        const deleteBtn = document.createElement('button');
                        deleteBtn.innerText = 'Delete';
                        deleteBtn.addEventListener('click', () => {
                            deleteFile(pageId);
                        });
                        li.appendChild(deleteBtn);

                        urlList.appendChild(li);
                    });
                });
        }

        // Delete file function
        function deleteFile(pageId) {
            fetch('/api/files/delete?pageId=' + pageId, { method: 'DELETE' })
                .then(() => {
                    getUrlList();
                });
        }

        getUrlList();
    </script>
</body>
}
else
{
<div class="alert alert-info text-center mb-4" role="alert">To get started, you must authorize!</div>
}
</html>