@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
<style>
    p{
       color: #000;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  text-align: left;
  display:table; 
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Hello! My name is Eugene, this is my first ASP .NET project. Purpose of work:<br>
        1) The ability to transfer a file to another user by uploading it to the "cloud storage".<br>
        2) The function of self-deleting a file/text immediately after its first download should be provided so that it does not get to third parties.<br>
        3) The user who uploaded the file / text should be able to delete at any time<br>
        4) Implement text transfer.<br><br>

        First you need to log in, then go to the "Download" tab, select the desired file, you can write any message in the text field.
        If you want to remove content from the server immediately after downloading, then check the box.
        After clicking on the button, you will be redirected to a page with access to the file/text you uploaded.
        To delete or view all your uploads go to the "history" tab.
    </p>
</div>

