@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model UploadModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (SignInManager.IsSignedIn(User))
{
}
<form action="/api/files/upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Выберите файл:</label>
        <input type="file" name="file" id="file">
    </div>
    <div>
        <label for="text">Текст:</label>
        <input type="text" name="text" id="text">
    </div>
    <div>
        <input type="checkbox" value="true" name="deletedAfterDownload" id="deletedAfterDownload">
        <label for="deletedAfterDownload">Удалить после первого скачивания</label>
    </div>
    
        <div>
            <button type="submit">Отправить</button>
        </div>

</form>
